<ng-container>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>library_music</mat-icon>
    </button>
    <span class="title">Stronos</span>
    <span class="spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <button mat-icon-button class="sidenav-button">
        <fa-icon
          [icon]="faCogs"
          class="sidenav-button-icon"
          size="2x"
        ></fa-icon>
        <div class="sidenav-button-text">Settings</div>
      </button>
      <button mat-icon-button class="sidenav-button">
        <fa-icon
          [icon]="faInfoCircle"
          class="sidenav-button-icon"
          size="2x"
        ></fa-icon>
        <div class="sidenav-button-text">Infos</div>
      </button>
    </mat-sidenav>

    <mat-sidenav-content>
      <div>Something</div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
