<div class="info-container">
  <!-- <app-loader *ngIf="!loaded"></app-loader> -->
  <ng-container *ngIf="loaded">
    <mat-card class="info-card">
      <mat-card-title>Informations</mat-card-title>
      <mat-card-content>Server is up since {{ awakeSince }}.</mat-card-content>
    </mat-card>
    <ng-container *ngIf="infoDto.streamList.length > 0">
      <mat-card class="info-card">
        <mat-card-title>Streaming clients</mat-card-title>
        <mat-card-content
          >There {{ infoDto.streamList.length > 1 ? 'are' : 'is' }}
          {{ infoDto.streamList.length }} listening client{{
            infoDto.streamList.length > 1 ? 's' : ''
          }}.</mat-card-content
        >
      </mat-card>
      <mat-card class="info-card" *ngFor="let stream of infoDto.streamList">
        <mat-card-title>{{ formatUserAgent(stream.userAgent) }}</mat-card-title>
        <mat-card-subtitle
          >Streaming since
          {{ formatSeconds(stream.streamedSeconds) }}</mat-card-subtitle
        >
        <mat-card-content>IP Adress : {{ stream.ipAdress }}</mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>
</div>
