.info-container {
  font-family: 'Work Sans';
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;

  justify-content: flex-start;

  padding-top: 5vh;
  padding-right: 8vw;
  padding-left: 8vw;
}

.info-card {
  width: 100%;
  max-width: 800px;
  margin-bottom: 2vh;
}

.list {
  margin-top: 10px;
  width: 50%;
}

.table {
  width: 100%;
}
