.settings-container {
  font-family: 'Work Sans';
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  height: 100%;

  justify-content: flex-start;

  padding-top: 5%;
}

.volume {
  width: 50%;
}

.volume-slider {
  width: 90%;
}
